
<div class="hero">
  <div class="container hero2 row">
    <div class="col-sm-12 col-md-6 pull-left">
      <img src="http://placehold.it/400x270" alt="">
    </div>
    <div class="hero1 col-sm-12 col-md-6 pull-right">
      <h2>
        <b>CustomFit is 100% FREE</b>
        <p>Our program is free for businesses interested in a managed safety footwear program. CustomFit provides you with the ultimate toolbelt for your safety footwear program at no additional cost. Additionally, there's <b>free shipping, returns, and support</b>.</p>
        <button class="btn pmd-ripple-effect btn-secondary btn-small">Learn More</button>
      </h2>
    </div>
  </div>
</div>

<div class="hero">
  <div class="container hero2 row">
    <div class="col-sm-12 col-md-6 pull-right">
      <h2>Time-Saving Benefits</h2>
      <ul>
        <li>Data Exchange</li>
        <li>On-Site Kiosks</li>
        <li>Vouchers</li>
        <li>Subsidy &amp; Payroll Deduction</li>
        <li>Multi-Employee Ordering</li>
        <li>Automatic Email Notifications</li>
      </ul>
      <button class="btn pmd-ripple-effect btn-secondary btn-small">See All Benefits</button>
    </div>
    <div class="hero-inner col-sm-12 col-md-6 pull-left">
      <img src="http://i.imgur.com/isUgKVZ.gif" alt="">
    </div>
  </div>
</div>

<div class="container">

</div>

<div class="container" style="max-width: 600px; width: 100%;">
  <form>
    <h2 style="margin-bottom: 1em;">Get notified of updates &amp; promotions</h2>
    <div class="form-group m-auto" style="width: 100%; max-width: 300px;">
      <input type="text" class="form-control empty" id="subscribeBottom">
      <label for="subscribeBottom">Email</label>
      <a href="#" class="btn btn-danger" style="margin: 0.5em 0;">Subscribe</a>
    </div>
  </form>
</div>
