<div class="hero">
  <div class="container">
    <div class="row m1">
      <div class="hero1 pull-left col-sm-12 col-md-8">
        <h1>
          <b>Managed Safety Shoe Programs</b>
        </h1>
        <p class="lead">As the leader in safety footwear programs, we offer the tools you'll need to ensure your employees are comfortable, confident, and most importantly safe on the job. With over 60 brands &amp; 2000 shoes, free shipping &amp; returns, and a custom website, managing your safety footwear program has never been so easy.</p>
        <button class="btn btn-lg color-secondary">Request Demo</button>
        <button class="btn btn-lg color-3">Learn More</button>
      </div>
      <div class="hero2 col-sm-12 col-md-4">
        <form class="form-wrapper" action="">
          <h2>Account Access</h2>
          <div class="form-group">
            <label for="email">Customer Number</label>
            <input type="text" class="form-control empty" id="email">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control empty" id="location">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control empty" id="password">
          </div><!-- /input-group -->
          <button class="btn btn-lg color-secondary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="deck deck1">
  <div class="container">
    <h2 class="header-home">Select from over 2000 styles and 60 brands</h2>
    <p class="lead">From Timberland to Rocky to Reebok, we've got the brands and styles for your business and work environment. With your customfit website, you can restrict the available styles offered to your employees to ensure they meet the safety standards that you require. From overnight shipped boots under $100 to automatic email reminders, <i><b>we've got you covered</b></i>.</p>
  </div>
</div>
<div class="features">
  <div class="feature">
    <div class="feature-title">Protective Toe</div>
    <img src="https://i.imgur.com/6M0LPL9.jpg" alt="">
  </div>
  <div class="feature">
    <div class="feature-title">Slip-Resistant</div>
    <img src="https://i.imgur.com/2id5Ive.jpg" alt="">
  </div>
  <div class="feature">
    <div class="feature-title">Metatarsal Guard</div>
    <img src="http://i.imgur.com/fggHCOM.jpg" alt="">
  </div>
  <div class="feature">
    <div class="feature-title">Puncture-Resistant</div>
    <img src="http://i.imgur.com/hnn5VZX.jpg" alt="">
  </div>
  <div class="feature">
    <div class="feature-title">Waterproof</div>
    <img src="http://i.imgur.com/XEEjn7r.jpg" alt="">
  </div>
  <div class="feature">
    <div class="feature-title">&amp; More</div>
    <img src="http://i.imgur.com/8MCsNww.jpg" alt="">
  </div>
</div>
<div class="container">
  <div class="text-center"><img src="http://info.rockybrands.com/rs/018-APH-439/images/featured-brands-cf.jpg" alt=""></div>
  <h2 class="header-home">See What Our Customers Have To Say</h2>
  <div class="row">
    <blockquote class="col-sm-12 col-md-4 blockquote">
      <p class="mb-0">The website works great, the prices are better, and the shipments are fantastic. Some people have told me that they have actually received their shoes in the next day after ordering. Thank you for suggesting that we try this rout, I would say it was a success.</p>
      <div class="quote-source pull-right text-right">
        <div>― <b>Joe Sentipal</b>, Purchasing</div>
        <cite title="Auma Actuators">Auma Actuators</cite>
      </div>
    </blockquote>
    <blockquote class="col-sm-12 col-md-4 blockquote">
      <p class="mb-0">The kiosk has been extremely user-friendly. The support personnel from Lehigh have been very helpful and are very accessible. There have been some bumps on the road (we put safety shoes on 300+ people) but Lehigh has been responsive to all issues that we have faced.</p>
      <div class="quote-source pull-right text-right">
        <div>― <b>Jason Toon</b>, Mesquite, TX location</div>
        <cite title="PEPSICO">PEPSICO</cite>
      </div>
    </blockquote>
    <blockquote class="col-sm-12 col-md-4 blockquote">
      <p class="mb-0">Just a note to say that our online boot process with Lehigh is working very well. And any time I have a question about an order or how to make the system run smoother, Tara is extremely helpful and responds to me quickly.</p>
      <div class="quote-source pull-right text-right">
        <div>― <b>Bill Adams</b>, Safety, Zanesville, OH location</div>
        <cite title="AK Steel">AK Steel</cite>
      </div>
    </blockquote>
  </div>
</div>
<div class="deck deck2">
  <div class="container">
    <h2 class="header-home">Save Time With These CustomFit Features</h2>
    <ul>
      <li><a href="#">Data Exchange<img src="http://placehold.it/200x100" alt=""></a></li>
      <li><a href="#">On-Site Kiosks<img src="http://placehold.it/200x100" alt=""></a></li>
      <li><a href="#">Vouchers<img src="http://placehold.it/200x100" alt=""></a></li>
      <li><a href="#">Subsidy & Payroll Deduction<img src="http://placehold.it/200x100" alt=""></a></li>
      <li><a href="#">Multi-Employee Ordering<img src="http://placehold.it/200x100" alt=""></a></li>
      <li><a href="#">Automatic Email Notifications<img src="http://placehold.it/200x100" alt=""></a></li>
    </ul>
  </div>
</div>
<div class="container">
  <h2 class="header-home">CustomFit is 100% FREE</h2>
  <p class="lead">Our program is free for businesses interested in a managed safety shoe program. CustomFit provides you with the ultimate toolbelt for your safety footwear program at no additional cost. When doing business with us, you save on pricing and any concern with managing your employees' safety shoes. We offer <b>free shipping, returns, and support</b> so you can focus on what's most important - your business.</p>
</div>
<div class="container text-center">
  <h2 class="header-home">Get Started Today</h2>
  <div class="btn-group btn-group-lg" role="group" aria-label="Request Demo">
    <button type="button" class="btn btn-default color-primary btn-large">Request Demo</button>
  </div>
</div>
