<nav class="navbar navbar-toggleable-md navbar-default bg-faded">
  <div class="container">
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="http://info.rockybrands.com/rs/018-APH-439/images/customfit-logo.png" alt="CustomFit Logo" style="width: 100px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Overview</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Who We Are</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Our Sales Team</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Our AR Team</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Brands We Sell</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Industries We Serve</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Customer Testimonials</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">News &amp; Events</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Made in the USA</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Product Features</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/about/overview">Register Your Product</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="#">Dropdown Link 1</a>
            <a class="dropdown-item" href="#">Dropdown Link 2</a>
            <a class="dropdown-item" href="#">Dropdown Link 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Safety Resource Center
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="#">Dropdown Link 1</a>
            <a class="dropdown-item" href="#">Dropdown Link 2</a>
            <a class="dropdown-item" href="#">Dropdown Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn pmd-ripple-effect btn-danger btn-small" type="button">Contact</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
