<nav class="navbar navbar-secondary navbar-toggleable-md my-2 my-lg-0">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav navbar-nav-secondary">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="#">Overview</a>
            <a class="dropdown-item" href="#">Who We Are</a>
            <a class="dropdown-item" href="#">Our Sales Team</a>
            <a class="dropdown-item" href="#">Our AR Team</a>
            <a class="dropdown-item" href="#">Brands We Sell</a>
            <a class="dropdown-item" href="#">Industries We Serve</a>
            <a class="dropdown-item" href="#">Customer Testimonials</a>
            <a class="dropdown-item" href="#">News &amp; Events</a>
            <a class="dropdown-item" href="#">Made in the USA</a>
            <a class="dropdown-item" href="#">Product Features</a>
            <a class="dropdown-item" href="#">Register Your Product</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="#">Dropdown Link 1</a>
            <a class="dropdown-item" href="#">Dropdown Link 2</a>
            <a class="dropdown-item" href="#">Dropdown Link 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Safety Resource Center
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="#">Dropdown Link 1</a>
            <a class="dropdown-item" href="#">Dropdown Link 2</a>
            <a class="dropdown-item" href="#">Dropdown Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
