.hero {
  // background: url('http://i.imgur.com/DjpDSVf.jpg') center center no-repeat;
  // background-size: cover;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#827717+1,afb42b+51,cddc39+100 */
  background: #827717; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #827717 1%, #afb42b 51%, #cddc39 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #827717 1%,#afb42b 51%,#cddc39 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #827717 1%,#afb42b 51%,#cddc39 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#827717', endColorstr='#cddc39',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: $text-secondary;
}
